<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Log in with your account</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/common.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <form method="POST" action="/login" th:action="@{/login}" class="form-signin">
        <h2 class="form-heading">Log in</h2>

        <div th:with="hasError=${error != null}" class="form-group" th:class="|form-group ${hasError? 'has-error': ''}|">
            <span th:if="${hasError}" th:text="${message}">message</span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>
            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span th:if="${hasError}" th:text="${error}">error</span>
            <input type="hidden" name="${_csrf.parameterName}" th:name="${_csrf.parameterName}" value="${_csrf.token}" th:value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="/registration" th:action="@{/registration}">Create an account</a></h4>
        </div>

    </form>

</div>
<!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>